*.class
*.db
*.idea
*.iml
*.iml 
profiles.clj
*.jar
*.out
*.pyc
*.swp
*jar
.*.swo
.*.swp
.DS_Store
.cpcache
.idea
.lein-*
.lein-deps-sum
.lein-plugins
.lein-repl-history
.nrepl-port
.rebel_readline_history
.repl
/.lein-*
/.nrepl-port
/checkouts
/classes
/download-intrinio--*
/lib
/node_modules
/out
/resources/public/js/compiled/**
/target
/test-results
TESTS-Chrome*.xml
classes
data--dbg
data--from-1995-01-01--to-2020-10-21/
data-cache*
figwheel_server.log
out*.txt
out*.clj
package-lock.json
pom.xml
pom.xml.asc
resources/*.edn
tags
target
